" plugins
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'

let mapleader=" "

" intelliJ action list: https://gist.github.com/zchee/9c78f91cc5ad771c1f5d (or :actionlist)
"" Source your .vimrc
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=8
set relativenumber " disable mit set norelativenumber
set number

set ignorecase
set smartcase
set incsearch

" enable line reordering with capital "j" & "k" in visual mode
vnoremap J :m'>+1<CR>gv=gv
vnoremap K :m'<-2<CR>gv=gv

" keep selection when indenting
vnoremap < <gv
vnoremap > >gv
vnoremap = =gv

" fuzzy finder
map <leader>sf :action GotoFile<CR>
map <leader>sg :action FindInPath<CR>
map <leader>pf :action SelectInProjectView<CR>

" Nerdtree
map <leader>pv :NERDTreeFocus<CR>
map <leader>pt :NERDTreeToggle<CR>

" cursor stays in the middle with half page jumps
nmap <C-d> <C-d>zz
nmap <C-u> <C-u>zz

map D "_d

" better mapping for forward/backwards jumps
nmap <C-o> :action Back<CR>
nmap <C-i> :action Forward<CR>

" search terms stay in the middle
nmap n nzzzv
nmap N Nzzzv

" to/from system clipboard
vmap <Leader>y "+y
nmap <Leader>P "+P

" editor actions
map <leader>l <Action>(ReformatCode)
map <leader>vrn <Action>(RenameElement)<Esc>
map <leader>8 <Action>(ToggleLineBreakpoint)
map <leader>vd <Action>(ShowErrorDescription)
map <leader><CR> :action ShowIntentionActions<CR>
map <leader>ss <Action>(FileStructurePopup)
map <leader>2 :action GotoNextError<CR>
map gr :action FindUsages<CR>

map <leader>pp :action PinActiveTabToggle<CR>

" run/debug
map <leader>rd <Action>(Debug)
map <leader>ra <Action>(ChooseRunConfiguration)
map <leader>rs <Action>(Resume)
map <leader>rr <Action>(Run)
map <leader>rR <Action>(RunClass)
map <leader>rc <Action>(Stop)

" git
map <leader>gd <Action>(Git.Stage.Compare.Local.Staged)
map <leader>ga <Action>(Annotate)

" tool windows
map <leader>tt :action ActivateTerminalToolWindow<CR>
map <leader>tr :action ActivateRunToolWindow<CR>
map <leader>tg :action ActivateCommitToolWindow<CR>
map <leader>tf :action ActivateFindToolWindow<CR>

" Commands
command! G :action ActivateCommitToolWindow